nav {
    display: flex;
    align-items: center;
    padding: 15px 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.nav-links {
    display: flex;
    flex: 1;
    gap: 30px;
    align-items: center;
    padding-bottom: 12px;
    margin-left: 330px;
}

.logo {
    width: 120px;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
}

#heading {
    display: flex;
    color: rgb(255, 166, 0);
    align-items: center;
    justify-content: center;
    line-height: 50px;
    letter-spacing: 1.5px;
    font-size: 25px;
}

.quote {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: "Italianno", cursive;
    padding-bottom: 20px;
}

#button {
    display: flex;
    justify-content: center;
}

button {
    background: rgba(255, 162, 0, 0.841);

    color: white;

    border: none;

    padding: 15px 40px;

    border-radius: 50px;

    font-size: 18px;

    font-weight: 600;
}

#signup-heading {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 15px 0;
}

.paragraph {
    text-decoration: none;
    padding: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
}

.login {
    text-decoration: none;
    color: orange;
    margin-left: 8px;
}

.signup {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 12px;
}

.form-group label {
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
}

.form-group input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 12px;
    background-color: transparent;
    color: orange;
    outline: none;

}

.signup-container {
    width: 400px;
    margin: 100px auto 0;
    text-align: center;
}